/* work-sans font from google font */

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700;800&family=Work+Sans:wght@400;500;600;700&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  cursor: pointer;
  border: 0;
}

.text-gray-color {
  color: #727272;
}
/* heder style */

header {
  background: rgba(255, 144, 14, 0.1);

  padding: 40px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.bannet-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  width: 100%;
  margin-top: 20px;
}

/* main style */

main {
  max-width: 1440px;
  margin: 50px auto;
}

/* teams style */
.teams-conatiner {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-contant {
  padding-left: 70px;
  padding-right: 70px;
}

.team-contant-title {
  font-size: 2.8rem;
}

.team-contant-title .quick-list {
  font-weight: 500;
}

.text-feature {
  color: #ff900e;
  font-weight: 700;
}

/* responsive media queries */

/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  .teams-conatiner {
    flex-direction: column;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }

  .team-contant {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-conatiner {
    flex-direction: column;
  }
}
